# mosdns自定义配置
log:
  level: info

api:
  http: "0.0.0.0:9091"

plugins:
  # --- 缓存插件定义 ---
  - tag: cache
    type: cache
    args:
      size: 10240               # 缓存条数。建议设为 10240，占用内存极小但命中率高
      lazy_cache_ttl: 86400     # 开启懒缓存（24小时）。过期后先返回旧 IP 保证秒开，同时后台更新
      dump_file: "/var/mosdns/cache.dump" # 重启后自动加载之前的缓存，无需重新预热

  # 规则集
  - tag: geosite_cn
    type: domain_set
    args:
      files:
        - "/var/mosdns/geosite_cn.txt"

  - tag: geosite_geolocation-!cn
    type: domain_set
    args:
      files:
        - "/var/mosdns/geosite_geolocation-!cn.txt"

  - tag: geoip_cn
    type: ip_set
    args:
      files:
        - "/var/mosdns/geoip_cn.txt"

  # 上游
  - tag: domestic_forward
    type: forward
    args:
      concurrent: 3
      upstreams:
        - addr: "https://doh.pub/dns-query"
          dial_addr: "1.12.12.12"
          idle_timeout: 300
        - addr: "https://223.6.6.6/dns-query"
          dial_addr: "223.6.6.6"
          idle_timeout: 300
        - addr: "https://223.5.5.5/dns-query"
          dial_addr: "223.5.5.5"
          idle_timeout: 300

  - tag: remote_forward
    type: forward
    args:
      concurrent: 3
      upstreams:
        - addr: "https://cloudflare-dns.com/dns-query"
          dial_addr: "1.1.1.1"
          idle_timeout: 60
        - addr: "https://dns.google/dns-query"
          dial_addr: "8.8.8.8"
          idle_timeout: 60

  # 查询序列
  - tag: query_local
    type: sequence
    args:
      - exec: prefer_ipv4
      - exec: "$domestic_forward"

  - tag: query_remote
    type: sequence
    args:
      - exec: prefer_ipv4
      - exec: "$remote_forward"

  # 主逻辑
  - tag: main
    type: sequence
    args:
      # --- 1. 核心步骤：优先匹配缓存 ---
      - exec: $cache            # 如果缓存里有，直接返回结果，不再走下面的网络请求

      # 2. 明确国内域名
      - matches: qname $geosite_cn
        exec: "$query_local"

      # 3. 明确国外域名
      - matches: qname $geosite_geolocation-!cn
        exec: "$query_remote"

      # 4. 所有未分类域名
      - exec: "$query_remote"

  # 服务器监听
  - tag: udp_server
    type: udp_server
    args:
      entry: main
      listen: "0.0.0.0:5335"

  - tag: tcp_server
    type: tcp_server
    args:
      entry: main
      listen: "0.0.0.0:5335"
